%h1 Glad you could make it!
.board
  - @cards.each do |item|
    .card
      %img.back{:src => "/img/card_back_small.png"}
      %img.front{:src => item.src}
      .info
        %p
          =item.name
        %a{:href=>"http://www.#{item.url}", :target => "blank"}
          =item.url
  %a.winner.hidden{:href=>"/"}
    %br
    You Win!
    %br
    Play Again?

%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src=>"/webcomic_memory.js"}