body {
  background-color: #f6e77f; }

.board {
  width: 90%;
  margin: auto;
  position: relative; }

.card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  height: 500px;
  width: 380px;
  border: 3px solid grey;
  position: relative; }
  .card .chosen {
    background-image: none;
    background: transparent;
    box-shadow: 0 0 5px #51cbee;
    border: 1px solid #51cbee; }
  .card .front {
    display: none; }
  .card .back {
    background-image: url "/img/card_back.png"; }
  .card:hover {
    cursor: pointer; }
  .card.matched {
    box-shadow: 0 0 5px #646464;
    border: 1px solid #646464; }
  .card.disabled {
    -webkit-filter: grayscale(75%);
    color: #666666; }

.info {
  display: none;
  color: white; }
