body {
  background-color: #f6e77f; }

.board {
  width: 90%;
  margin: 0 auto;
  position: relative; }

.card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  height: 368px;
  width: 280px;
  border: 5px solid grey; }
  .card .front {
    display: none; }
  .card:hover {
    cursor: pointer; }
  .card.chosen {
    background-image: none;
    background: transparent;
    box-shadow: 0 0 7px #51cbee;
    border: 1px solid #51cbee; }
  .card.matched {
    box-shadow: 0 0 7px #646464;
    border: 1px solid #646464;
    -webkit-filter: grayscale(45%);
    color: #666666; }

.winner {
  display: none; }

.info {
  height: 20%;
  width: 100%;
  bottom: 10%;
  background: rgba(125, 125, 125, 0.3);
  text-align: center;
  position: absolute;
  display: none;
  color: white; }
