$sky-blue: #78ade1;

@mixin border-radius($size) {
-webkit-border-radius: $size;
   -moz-border-radius: $size;
        border-radius: $size;
}


body{
  background-color:#f6e77f;
}

.board {
  width: 90%;
  margin: auto;
  position: relative;
}

.card {
  @include border-radius(10px);
  display: inline-block;
  height: 500px;
  width: 380px;
  border: 3px solid grey;
  position: relative;


  .chosen {
  background-image: none;
  background: transparent;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.front{
  display: none;
}

.back{
  background-image: url "/img/card_back.png";
}

  &:hover{
    cursor: pointer;
}

  &.matched {
    box-shadow: 0 0 5px rgba(100, 100, 100, 1);
    border: 1px solid rgba(100, 100, 100, 1);
  }

  &.disabled{
    -webkit-filter: grayscale(75%);
    color: #666666;
  }
}


.info {
  display: none;
  color: white;
}
